<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>
    <h2>Log In</h2>
    <form method="post">
    {% csrf_token %}
    <p>
        <label for="username-id">Usuario:</label>
        <input type="text" name="username" id="username-id">
    </p>

    <p>
        <label for="password-id">Contraseña:</label>
        <input type="password" name="password" id="password-id">
    </p>
    <button type="submit">Log In</button>
    </form>
</body>
</html>